 h2
    {
      font-family: arial, verdana, sans-serif;
      color: #996600
    }
    

	table
	 {
	    
		border-width: 10px;
		border-style: ridge;
		border-color: #996633;
		border-radius: 15px;
		
 
     }
     
     td
     {
       padding:8px;
       height:50px;
      vertical-align:center;
     }
          
      
     body
     {
       background-image: url("bg1.jpg");
       background-size:100% 100%;
     }   