h2
    {
      font-family: arial, verdana, sans-serif;
      color: #990000
    }

    
 body
     {
       background-color: #9999FF;
       background-image: url("success2.jpg");
       background-repeat: no-repeat;
       background-position: right top;
       margin-right:250px;
     } 